.table {
  overflow: auto;
  background: lightgray;
  color: blue;
}

.name {
  display: flex;
  justify-content: center;
  height: 4em;
  font-size: 1em;
  font-weight: bold;
}

.temp {
  display: flex;
  justify-content: center;
  height: 2em;
  font-size: 2em;
}

.wind {
  display: flex;
  justify-content: center;
  height: 2em;
  margin-bottom: 2em;
}

.weather-image {
  display: flex;
  justify-content: center;
}

td {
  width: 10em;
  border: solid;
  border-color: black;
}

.content {
  flex: 1;
  display: flex;
  overflow: auto;
}

.box {
  min-height: min-content; /* needs vendor prefixes */
  display: flex;
}
