version: 2
jobs:
    build:
        working_directory: ~/project
        docker:
            - image: circleci/node:chakracore-8.11-browsers-legacy
        steps:
            - checkout
            - run:
                name: Show current branch
                command: echo ${CIRCLE_BRANCH}
            - run:
                name: Show current directory
                command: pwd
            - run:
                name: copy deploy config script to root directory
                command: cp build_scripts/deploy_config.sh deploy_config.sh
            - run:
                name: load in environment variables
                command: ./deploy_config.sh
            - run:
                name: fix node-sass
                command: npm rebuild node-sass --force
            - run:
                name: Install dependencies
                command: npm install
            - run:
                name: Building
                command: npm run build-prod
            - run:
                name: Linting
                command: npm run lint
            - run:
                name: Testing
                command: npm run test-prod
            - save_cache:
                key: v1-dist-{{ .Environment.CIRCLE_BRANCH }}-{{ .Environment.CIRCLE_SHA1 }}
                paths:
                    - dist
                    - package.json
                    - firebase.json
                    - .firebaserc
    deploy:
        docker:
          - image: circleci/node:chakracore-8.11-browsers-legacy
        working_directory: ~/project
        steps:
          - run:
              name: Show current branch
              command: echo ${CIRCLE_BRANCH}
          - restore_cache:
              key: v1-dist-{{ .Environment.CIRCLE_BRANCH }}-{{ .Environment.CIRCLE_SHA1 }}
          - run:
              name: Install Firebase
              command: npm install --save-dev firebase-tools
          - run:
              name: Deploy Master to Firebase
              command: npm run firebase-deploy

workflows:
    version: 2
    -deploy:
      jobs:
        - build
        - deploy:
            requires:
              - build
            filters:
              branches:
                only: master
