<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="goose-image"><img src="./assets/goose_small.svg"></span>
    <span class="toolbar-title"><span>Goose</span><span>Weather</span></span>
    <span class="toolbar-spacer"></span>
    <mat-form-field class="location-search">
      <input matInput [matAutocomplete]="auto" [formControl]="citiesCtrl" placeholder="Select Location">
      <button mat-button *ngIf="citiesCtrl.value" matSuffix mat-icon-button aria-label="Clear" (click)="citiesCtrl.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
        <mat-option *ngFor="let city of filteredCities | async" [value]="city.combinedName">
          <span>{{city.combinedName}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<div class="page">
  <mat-grid-list cols="3" rowHeight="29em">
    <mat-grid-tile *ngFor="let card of cards | async"  [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="title">
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <ng-container *ngxComponentOutlet="card.component; context: { weatherData: weatherData }"></ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
