<div class="page">
  <div class="top-container page">
    <div class="first-row">
      <h1 class="display-4">Welcome to Goose Weather!</h1>
      <img src='./assets/goose.svg'>
    </div>
    <div class="second-row">
      <p class="lead">A Weather App that uses <a href="https://www.weather.gov/documentation/services-web-api">NOAA APIs</a> and the <a href="https://openweathermap.org/api">Open Weather Map API</a> to present weather information</p>
      <hr class="my-4">
    </div>
  </div>
  <mat-grid-list cols="3" rowHeight="29em">
    <mat-grid-tile *ngFor="let card of cards | async"  [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="title">
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ng-container *ngComponentOutlet="card.component"></ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
