.dashboard-card {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  background-color: lightskyblue;
  color: darkblue;
  box-shadow: 0.5em 0.5em 0.25px darkgrey;
}

.dashboard-card-content {
  text-align: center;
}

.title-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: .5em;
}

.title {
  font-size: 2em;
}

.page {
  background-color: lightgray;
  margin-bottom: 1em;
}

.top-section {
  display: flex;
  align-items: left;
  flex-direction: start;
}

.top-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-left: 2em;
}

.first-row {
  display: flex;
  align-items: flex-end;
}

.second-row {
  display: flex;
  margin-top: 1em;
}

mat-spinner {
  margin: 20em;
}

.toolbar-icon {
  padding: 0 14px;
  margin-right: 1em;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.location-search {
  /* width: 50%; */
}

.goose-image {
  margin-right: 0.5em;
}

.toolbar-title {
  margin-right: 0.5em;
  display: flex;
  flex-direction: column;
}

.toolbar-title > span {
  display: flex;
  flex-shrink: 2;
  /* justify-content: center; */
  align-items: center;
  margin: 0;
  height: 1.25em;
}

.my-location {
  margin-left: 2em;
  margin-right: 2em;
}
