<div class="container">
  <div class="row">
    <div class="col-sm">
        <ul>
          <li>Written with <a href="https://github.com/angular/angular">Angular 7</a></li>
          <li>Styling done with <a href="https://material.angular.io/">Angular Material</a> and <a href="https://getbootstrap.com/">Bootstrap</a></li>
          <li>Weather Data retrieved with the <a href="https://www.weather.gov/documentation/services-web-api">NOAA API</a> and
              <a href="https://openweathermap.org/api">Open Weather Map API</a></li>
          <li>Project is Open Source and can be viewed on GitHub here</li>
          <li>Open Source with the <a href="https://github.com/andrewevans02/goose-weather/blob/master/LICENSE">MIT License</a></li>
          <li>Angular image was copied from <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png">here</a></li>
          <li>Goose Picture at top of page was made at <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from
              <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
          <li>Time displayed is Eastern Standard Format</li>
          <li>Temperature displayed is in Fahrenheit</li>
          <li>Speed displayed is in Miles Per Hour</li>
        </ul>
    </div>
    <div class="col-sm">
      <img src='./assets/goose.svg'>
    </div>
    <div class="col-sm">
      <img src='./assets/Angular.png'>
    </div>
  </div>
</div>


