<div class="about">
  <ul>
    <li>Angular Application built and maintained by <a href="https://rhythmandbinary.com/">Andrew Evans</a></li>
    <li>Weather data provided by <a href="https://www.weather.gov/documentation/services-web-api">NOAA APIs</a> and the <a href="https://openweathermap.org/api">OpenWeatherMapAPI Service</a></li>
    <li>Application uses <a href="https://ngrx.io/">NgRx</a> for state management</li>
    <li>Open Source with the
      <a href="https://github.com/andrewevans02/goose-weather/blob/master/LICENSE">MIT License</a> and can be viewed on <a href="https://github.com/andrewevans02/goose-weather">GitHub</a></li>
    <li>Goose image was made at
      <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      and is licensed by
      <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </li>
  </ul>
</div>
<img src='./assets/goose.svg'>
