.about {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
  font-size: 1em;

  ul {
    width: 20em;
  }

  li {
    text-align: left;
  }

  img {
    justify-content: center;
    padding: 1em;
  }
}
