table {
  flex: 1;
  display: flex;
  overflow: auto;
  background: lightgray;
  color: blue;
}

td {
  width: 10em;
  border: solid;
  border-color: black;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 1em;
  height: 2em;
  margin-bottom: 2em;
  font-weight: bold;
}

.temp {
  display: flex;
  justify-content: center;
  height: 2em;
  font-size: 1.5em;
}

.wind {
  display: flex;
  justify-content: center;
  font-size: 1em;
  height: 2em;
  margin-bottom: 1em;
}

.forecast-tile {
  margin-top: 2em;
  margin-bottom: 2em;
}
