<mat-grid-list cols="4" rowHeight="4em">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <p><span class="title">Latitude: </span> {{ data.currentConditions.latitude }}</p>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <p><span class="title">Longitude: </span> {{ data.currentConditions.longitude }}</p>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <p><span class="title">City: </span> {{ data.currentConditions.city }}</p>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <p><span class="title">State: </span> {{ data.currentConditions.state }}</p>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <p><span class="title">Temp: </span> {{ data.currentConditions.temp }}</p>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <p><span class="title">Wind: </span> {{ data.currentConditions.windSpeed }} {{ data.currentConditions.windDirection }}</p>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <img src={{data.currentConditions.icon}}>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <p><span class="title">Sunrise: </span> {{ data.currentConditions.sunrise }} </p>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <p><span class="title">Sunset: </span> {{ data.currentConditions.sunset }} </p>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <p><span class="title">Retrieved: </span> {{ data.weatherDate | date:'short' }} </p>
  </mat-grid-tile>
</mat-grid-list>
