.info {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1em;
}

.overall {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.5em;
}

li {
  text-align: left;
}
