<div class="container">
  <div class="row">
    <div class="col-sm overall">
      <ul>
        <li>Written with <a href="https://github.com/angular/angular">Angular 7</a></li>
        <li>Styling done with <a href="https://material.angular.io/">Angular Material</a> and <a href="https://getbootstrap.com/">Bootstrap</a></li>
        <li>Weather Data retrieved with the <a href="https://www.weather.gov/documentation/services-web-api">NOAA API</a>a> and <a href="https://openweathermap.org/api">Open Weather Map API</a></li>
        <li>Sourcecode available on GitHub here</li>
        <li>Open Source with the MIT License</li>
      </ul>
    </div>
    <div class="col-sm">
      <img src="../../../assets/about.png">
    </div>
  </div>
</div>
