.about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: left;
  font-size: 1.5em;
}

img {
  margin-left: 2em;
  margin-right: 2em;
}

.desktop {
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
