<div class="hourly-forecast" *ngIf="data != undefined; else elseBlock">
  <table mat-table [dataSource]="data.hourlyForecast" class="mat-elevation-z8">
    <ng-container matColumnDef="Time">
      <th mat-header-cell *matHeaderCellDef> <span>Time</span> </th>
      <td mat-cell *matCellDef="let forecast"> <span class="time">{{forecast.time}}</span> </td>
    </ng-container>
    <ng-container matColumnDef="Temp">
      <th mat-header-cell *matHeaderCellDef> <span>Temp</span> </th>
      <td mat-cell *matCellDef="let forecast"> {{forecast.temp}} </td>
    </ng-container>
    <ng-container matColumnDef="Wind">
      <th mat-header-cell *matHeaderCellDef> <span>Wind</span> </th>
      <td mat-cell *matCellDef="let forecast"> {{forecast.windSpeed}} {{forecast.windDirection}} </td>
    </ng-container>
    <ng-container matColumnDef="Condition">
      <th mat-header-cell *matHeaderCellDef> <span>Condition</span> </th>
      <td mat-cell *matCellDef="let forecast"> <img src={{forecast.icon}}> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<ng-template #elseBlock>
  <mat-spinner></mat-spinner>
</ng-template>
