// table {
//   tr {
//     display: flex;
//     align-content: center;
//     justify-content: center;
//     padding: 0.5em;
//   }

//   .hour {
//     font-size: 1.5em;
//   }

//   overflow: auto;
//   background: lightgray;
//   color: blue;
//   flex: 1;
// }

table {
  width: 100%;
  color: blue;
  background-color: lightgray;
}

.hourly-forecast {
  height: 20em;
  overflow: auto;
}

::ng-deep th.mat-header-cell {
  height: 1em;
  font-size: 1.5em;
  color: blue;
  background-color: lightgray;
}

span {
  display: flex;
  justify-content: center;
  color: blue;
  background-color: lightgray;
}

img {
  padding: 1em;
}

.time {
  font-weight: bold;
}
